.burgerDiv {
  margin-top: 15px;
}

.devoured {
  margin-top: 20px;
}

body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
  height: 100%;
  background-color: #333;
}

.btn, .btn:hover, .btn:focus {
  background-color: #1565c0;
}

.input-field .prefix.active {
  color: #1565c0;
}

#enter_text {
  color: #fff;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #1565c0
}

;
